@import '../../assets/styles/mixins';
@import '../../assets/styles/color-themes';

.RoadMap {
    margin-top: spacing(10);
    
}
.roadWraper {
    @include centered();
    max-width:980px;
    margin-top: spacing(3);
    
    display: grid;
  
    grid-template-areas: 'a b .'
                         '. e f'
                         'g h .'
                         '. k l'
                         'm n .';
    grid-template-rows: repeat(2, 190px) 360px 200px 240px;
    gap: 20px;

    .wrapNumber {
        padding-top:60px
    }
    .areas {
        border-radius: 20px;
        
        .titleCard {
            padding-bottom: spacing(3) ;
        }
    }
    .areas:nth-child(3) {
        height: 360px;
    }
    .areas:first-child {
        grid-area: a;
    }
    .areas:nth-child(2) {
        grid-area: f;
    }
    .areas:nth-child(3) {
        grid-area: g;
    }
    .areas:nth-child(4) {
        grid-area: l;
    }
    .areas:nth-child(5) {
        height: 240px;
        grid-area: m;
    }
    .num {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background: var(--card-default-background);;
        text-align: center;
        line-height: 85px;
        font-size: 28px;
        color: var(--typography-default-color)
    }
    .divider:first-child,
    .divider:last-child {
        display: none;
    }
    .divider {
        width: 5px;
        height: 55px;
        background:rgb(32, 29, 29);
        transform: translateX(40px);
    }
    .divider:nth-child(6) {
        height: 165px;
    }
    .divider:nth-child(9) {
        height: 150px;
    }
    .divider:nth-child(12) {
        height: 100px;
    }
}

@include forDesktopMiddle {
    .mainTitle {
        transform: translateX(53px);
    }
   .roadWraper {
    grid-template-areas: 'b a'
                         'e f'
                         'h g '
                         'k l '
                         'n m';
    justify-content: center;
    .areas {
        max-width: 500px;
    }
   } 
}

@include forTablet {
    .mainTitle {
        max-width: 230px;
        font-size: 40px;
        
    }
    .roadWraper {
        padding:spacing(0);
        max-width: 350px;
        grid-template-rows: 200px 170px 420px 200px 240px;
        gap: 10px;
        .divider {
            transform: translateX(24px);
        }
        .areas {
            padding: spacing(2);
            border-radius: 15px;
            height: 180px;
        }
        .areas:nth-child(2) {
            height: 170px;
        }
        .areas:nth-child(3) {
            height: 420px;
        }
        .areas:nth-child(4) {
            height: 200px;
        }
        .areas:nth-child(5) {
            height: 270px;
        }

        .wrapNumber {
            padding-top: 75px ;
            .num {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
            }
        }

        .divider {
            width: 3px;
            height: 70px;
        }
        .divider:nth-child(6) {
            height: 180px;
        }
        .divider:nth-child(9) {
            height: 220px;
        }
        .divider:nth-child(12) {
            height: 100px;
        }
    }
  


}