// @import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.wrapper {
  background: var(--card-default-background);
  border: 1px solid var(--card-default-border);
  padding: spacing(4);
}
