@import '../../assets/styles/color-themes';
@import '../../assets/styles/mixins';
@import '../../assets/styles/normalize';
.header {
    @include flexbox(space-between);
    @include centered();

    .navigationList {
        width: 500px;
        
        ul {
            @include flexbox(space-between);
        }
    }
}
@include forDesktopBig {
    .navigationList {
        display: none;
    }
}
@include forTablet {
    .header {
        max-width: 300px;
        padding: 0
    }
}