@import '../../assets/styles/color-themes';
@import '../../assets/styles/mixins';
@import '../../assets/styles/normalize';
.header {
    background-color: rgba(255, 255, 255, 0.2);
   
    .mainwWrapper {
        
        @include centered();
        // padding:spacing(1);
        @include flexbox(space-between);
        .navigationList {
            width: 500px;
            
            ul {
                @include flexbox(space-between);
            }
        }
    }
}


@include forDesktopBig {
    .navigationList {
        display: none;
    }
}
@include forTablet {
    .header {
        max-width: 300px;
        padding: 0
    }
}